html, body {
    height: 100%;
    width: 100%;
}

form {
    padding-bottom: 20px;
}

.navbar-brand img {
    width: 50px;
}

.navbar-brand span {
    font-size: 32px;
    float: right;
}

.container {
    padding-bottom: 20px !important;
    margin-bottom: 70px !important;
}

.container h3 {
    text-align: center;
}


ul span:last-child {
    margin-bottom: 20px;
}

ul li input {
    margin-bottom: 0 !important;
    margin: 0 5px;
    float: right;

}

ul li span:first-child {
    font-size: 20px;
    margin: 0 !important;
    float: left;
}

ul li span {
    font-size: 20px;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

ul li span:active {
    border-bottom: #007bff;
}

.dead_line, .priority {
    color: #808080;
    font-weight: lighter;
    font-size: 20px;
    float: right;
    margin-right: 150px;
}


form input {
    display: block !important;
    margin: 0 auto;
}

.form-singin img {
    width: 100px;
    height: 100px;
}
